node_modules
dist
dist-ssr
.env
.env.local
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*~
Thumbs.db
src/App.css
src/index.css
src/assets/react.svg
src/assets/vite.svg
src/assets/hero.png
public/vite.svg
